<div *ngFor="let course of courses">
    <p>{{course}}</p> 
    <div ngNonBindable>The code that rendesr is {{courses}}</div>
</div>
<table>
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Score</td>
        </tr>

    </thead>
    <tr *ngFor="let student of students">
        <td [style.color]="'red'">{{student.fName}}</td>
        <td [style.color]="'yellow'">{{student.lName}}</td>
        <td [style.color]="'blue'">{{student.score}}</td>
    </tr>
</table>